*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .nav{
    width: 400px;
    position: absolute;
    top: 20px;
    height: 50px;
    background: #2f00ae;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.main .nav .heading a{
    color: white;
    top: 0;
    left: 50%;
    right: 50%;
    flex-direction: row;
    font-size: 1rem;
    padding: 15px;
    margin: 1px;
    text-decoration: none;
}
